body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 10px solid #ef7d13;
  min-height: 100vh;
}
img {
  padding: 5px;
  border: 3px solid black;
  border-radius: 50%;
  width: 80px;
}
.main {
  display: flex;
  flex-direction: column;
  margin: 50px;
  margin-bottom: 30px;
  text-align: center;
}
.exp {
  border: 2px solid #ef7d13;
}
.compe {
  border: 2px solid #ef7d13;
}
.bas {
  display: flex;
  justify-content: space-between;
}
.gauche {
  width: 48%;
  border: 2px solid #ef7d13;
}
.droite {
  width: 48%;
  border: 2px solid #ef7d13;
}
div {
  margin-bottom: 30px;
}
li {
  list-style-type: none;
  margin: 5px;
}
@media screen and (max-width: 570px) {
  h1 {
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  .main {
    font-size: 10px;
  }
  h1 {
    font-size: 10px;
  }
}
@media screen and (max-width: 570px) {
  .main {
    font-size: 8px;
  }
  h1 {
    font-size: 5px;
  }
  img {
    width: 30px;
  }
}
